.App {
  background-color: #282c345b;
}

.App-header {
  padding-top: 5px;
  padding-left: 10px;
  min-height: 5vh;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-footer {
  padding-left: 10px;
  min-height: 3vh;
  font-size: calc(4px + 1vmin);
  color: white;
}

.Footer-emoji {
  font-size: calc(3px + 1vmin);
}

p {
  margin: 0;
}

.App-link {
  text-decoration: none;
  color: white;
}

.App-link:hover {
  color: #61dafb;
}
