:root {
  --pri-color: rgb(26, 95, 151);
  --sec-color: rgb(35, 112, 212);
  --background-color: rgba(163, 163, 230, 0.137);
  --tri-color: rgba(128, 128, 128, 0.685);
}

.App {
  background-color: #282c345b;
}

.App-header {
  padding-top: 6px;
  padding-left: 10px;
  margin-bottom: 25px;
  min-height: 5vh;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-footer {
  margin-top: 80px;
  padding-left: 10px;
  min-height: 3vh;
  font-size: calc(5px + 1vmin);
  color: white;
}

.Footer-emoji {
  font-size: calc(3px + 1vmin);
}

p {
  margin: 0;
}

.App-link {
  text-decoration: none;
  color: white;
}

.App-link:hover {
  color: #61dafb;
}
